# Introduction:-

In [1]:
# What is Python?

# Python is a high-level, interpreted programming language known for its simplicity and readability. 
# It was created by Guido van Rossum and first released in 1991. Python emphasizes code readability with 
# its clear and expressive syntax, making it easier to write and maintain compared to many other languages.

## Why Python is Popular?

		Python's popularity stems from several key factors:

		1. **Simplicity and Ease of Learning:**
		   - Python is often praised for its simplicity and readability. Its syntax resembles pseudo-code, making it easy for beginners to grasp. This simplicity reduces the cost of program maintenance and development.

		2. **Versatility and Flexibility:**
		   - Python is a versatile language that can be used for a wide range of applications:
			 - **Web Development:** Frameworks like Django and Flask are widely used for building web applications.
			 - **Data Science and Machine Learning:** Libraries such as NumPy, Pandas, Matplotlib, and TensorFlow provide robust tools for data analysis, machine learning, and scientific computing.
			 - **Automation and Scripting:** Python's ease of use makes it ideal for writing scripts to automate repetitive tasks.
			 - **Desktop GUIs:** Libraries like Tkinter and PyQt allow developers to create desktop applications with graphical user interfaces.
			 - **Game Development:** With libraries like Pygame, Python can be used for game development.
			 - **Embedded Systems:** Python can also be used for programming microcontrollers and embedded systems.
    3. **Large Standard Library and Third-Party Modules:**
		   - Python comes with a large standard library that provides a rich set of modules and packages, eliminating the need to write code for common tasks from scratch. Additionally, there is a vast ecosystem of third-party libraries and frameworks maintained by the Python community.

		4. **Community and Support:**
		   - Python has a large and active community of developers, enthusiasts, and contributors. This community contributes to the continuous improvement of the language by developing new libraries, sharing knowledge, and providing support through forums, conferences, and online communities.

		5. **Career Opportunities:**
		   - Python's versatility and widespread adoption have led to an increasing demand for Python developers across various industries. Learning Python opens up opportunities in software development, data analysis, machine learning, web development, and more.

		6. **Adoption by Tech Giants:**
		   - Many tech giants like Google, Facebook, Instagram, Dropbox, and Spotify use Python extensively for various purposes, showcasing its scalability and reliability.

# DataTypes:-

Python supports several built-in data types that are fundamental to programming. Each data type has specific characteristics and uses. Hereâ€™s a detailed overview of Python's main data types with practical examples:

#1. Numeric Types
		a. Integer (int)
		Integers are whole numbers without a fractional part.

In [4]:
age = 25
count = -10

In [5]:
age

25

In [6]:
print(count)

-10

In [7]:
type(age)

int

In [8]:
# b. Float (float)
		#Floats represent real numbers and include a decimal point.
# Example of floats
height = 5.8
pi = 3.14159

In [9]:
type(pi)

float

In [10]:
pi

3.14159

In [11]:
print(pi)

3.14159

In [12]:
#c. Complex (complex)
		#Complex numbers have a real and imaginary part.
		# Example of complex numbers
z = 3 + 4j

In [14]:
#2. Sequence Types
		#a. String (str)
		#Strings are sequences of characters enclosed in quotes (single, double, or triple).
		# Example of strings
name = "Alice"
message = 'Hello, World!'
multiline_string = """
		       Hello,
		       Python!
		            """

In [15]:
name

'Alice'

In [16]:
message

'Hello, World!'

In [17]:
multiline_string

'\n\t\t       Hello,\n\t\t       Python!\n\t\t            '

In [19]:
multi = """Python's versatility and widespread adoption have led to an increasing demand for
Python developers across various industries. Learning Python opens up opportunities in software development, 
data analysis, machine learning, web development, and more."""

In [20]:
multi

"Python's versatility and widespread adoption have led to an increasing demand for\nPython developers across various industries. Learning Python opens up opportunities in software development, \ndata analysis, machine learning, web development, and more."

In [22]:
#b. List (list)
		#Lists are ordered collections of items. They are mutable (changeable) and can contain elements of different data types.

		# Example of lists
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed_list = [1, "apple", True]

In [23]:
fruits

['apple', 'banana', 'cherry']

In [24]:
#c. Tuple (tuple)
		#Tuples are ordered collections of items similar to lists, but they are immutable (unchangeable).
	 
 # Example of tuples
coordinates = (3, 4)
colors = ('red', 'green', 'blue')

In [25]:
colors

('red', 'green', 'blue')

In [26]:
#3. Mapping Type
		#Dictionary (dict)
		#Dictionaries store key-value pairs. Keys must be unique within a dictionary, and they are mutable.
# Example of dictionaries
person = {"name": "Alice", "age": 25, "city": "New York"}

In [27]:
person

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [30]:
#4. Set Types
		#Set (set)
		#Sets are unordered collections of unique items. They are mutable but do not allow duplicate elements.

		 
# Example of sets
unique_numbers = {1, 2, 3, 4, 5,5,5}

In [31]:
unique_numbers

{1, 2, 3, 4, 5}

In [32]:
#5. Boolean Type
		#Boolean (bool)
		#Booleans represent truth values. They can be True or False.

# Example of booleans
is_student = True
is_adult = False
#Practical Example:
		#Let's use these data types in a practical example to showcase their usage:
# Define variables of different data types
name = "Alice"  # string
age = 25  # integer
height = 5.8  # float
coordinates = (3, 4)  # tuple
grades = {"Math": 85, "Science": 90, "History": 88}  # dictionary

In [36]:
# Print information using these variables
print(f"Student Name: {name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Coordinates: {coordinates}")
print("Grades:", grades)

Student Name: Alice
Age: 25
Height: 5.8 feet
Coordinates: (3, 4)
Grades: {'Math': 85, 'Science': 90, 'History': 88}

name is a string.
		age is an integer.
		height is a float.
		coordinates is a tuple.
		grades is a dictionary.
		Understanding and utilizing these data types effectively is essential for manipulating data and building more complex programs in Python. Each type serves specific purposes and provides different methods and operations for handling and manipulating data.

# Arithmetic Operator:-

In [37]:
### 1. Addition (`+`)
#The addition operator adds two operands.
 
a = 10
b = 5
result = a + b  # 10 + 5 = 15
print(result)  # Output: 15

15

In [39]:
### 2. Subtraction (`-`)

		#The subtraction operator subtracts the right operand from the left operand.

	
a = 10
b = 5
result = a - b  # 10 - 5 = 5
print(result)  # Output: 5

5

In [40]:
### 3. Multiplication (`*`)

		#The multiplication operator multiplies two operands.
a = 10
b = 5
result = a * b  # 10 * 5 = 50
print(result)  # Output: 50

50

In [41]:
### 4. Division (`/`)

		#The division operator divides the left operand by the right operand and returns a floating-point number.
a = 10
b = 5
result = a / b  # 10 / 5 = 2.0
print(result)  # Output: 2.0

2.0

In [42]:
### 5. Floor Division (`//`)

		#The floor division operator divides the left operand by the right operand and returns the largest integer less than or equal to the result.
	 
a = 10
b = 3
result = a // b  # 10 // 3 = 3
print(result)  # Output: 3

3

In [43]:
10/3

3.3333333333333335

In [44]:
10//3

3

In [45]:
22/5

4.4

In [46]:
22//5

4

In [47]:
### 6. Modulus (`%`)

		#The modulus operator returns the remainder of the division of the left operand by the right operand.

a = 10
b = 3
result = a % b  # 10 % 3 = 1
print(result)  # Output: 1

1

In [48]:
### 7. Exponentiation (`**`)

		#The exponentiation operator raises the left operand to the power of the right operand.
a = 2
b = 3
result = a ** b  # 2 ** 3 = 8
print(result)  # Output: 8

8

In [49]:
### Example: Combined Use of Arithmetic Operators

# Combined use of arithmetic operators
a = 15
b = 4

addition = a + b       # 15 + 4 = 19
subtraction = a - b    # 15 - 4 = 11
multiplication = a * b # 15 * 4 = 60
division = a / b       # 15 / 4 = 3.75
floor_division = a // b# 15 // 4 = 3
modulus = a % b        # 15 % 4 = 3
exponentiation = a ** b# 15 ** 4 = 50625

In [50]:
# Print results
print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")
print(f"Floor Division: {floor_division}")
print(f"Modulus: {modulus}")
print(f"Exponentiation: {exponentiation}")

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Modulus: 3
Exponentiation: 50625

In [58]:
print(addition," ", subtraction," ",multiplication," ",division," ",floor_division, " ",modulus," ",exponentiation)

19   11   60   3.75   3   3   50625

In [54]:
print(f"add {addition}, sub {subtraction}")

add 19, sub 11

## Comparison operators:- 

		Comparison operators in Python are used to compare two values or expressions. They return a Boolean value (`True` or `False`) based on whether the comparison is true or false. Here's an overview of the comparison operators in Python:

In [59]:
### 1. Equal to (`==`)

		#The equal to operator checks if two operands are equal.
a = 5
b = 5
result = a == b  # True
print(result)  # Output: True

True

In [60]:
### 2. Not equal to (`!=`)

		#The not equal to operator checks if two operands are not equal.

a = 5
b = 3
result = a != b  # True
print(result)  # Output: True

True

In [61]:
### 3. Greater than (`>`)

		#The greater than operator checks if the left operand is greater than the right operand.

a = 5
b = 3
result = a > b  # True
print(result)  # Output: True

True

In [62]:
### 4. Less than (`<`)

		#The less than operator checks if the left operand is less than the right operand.

a = 3
b = 5
result = a < b  # True
print(result)  # Output: True

True

In [63]:
a>b

False

In [64]:
### 5. Greater than or equal to (`>=`)

		#The greater than or equal to operator checks if the left operand is greater than or equal to the right operand.

a = 5
b = 5
result = a >= b  # True
print(result)  # Output: True

True

In [69]:
### 6. Less than or equal to (`<=`)

		#The less than or equal to operator checks if the left operand is less than or equal to the right operand.
a =3
b = 5
result = a <= b  # True
print(result)  # Output: True

True

In [70]:
### Example: Combined Use of Comparison Operators
# Combined use of comparison operators
x = 10
y = 5

equal = x == y            # False
not_equal = x != y        # True
greater_than = x > y      # True
less_than = x < y         # False
greater_than_or_equal = x >= y  # True
less_than_or_equal = x <= y     # False

# Print results
print(f"Equal: {equal}")
print(f"Not Equal: {not_equal}")
print(f"Greater Than: {greater_than}")
print(f"Less Than: {less_than}")
print(f"Greater Than or Equal: {greater_than_or_equal}")
print(f"Less Than or Equal: {less_than_or_equal}")

Equal: False
Not Equal: True
Greater Than: True
Less Than: False
Greater Than or Equal: True
Less Than or Equal: False

In [71]:
### 7. Chained Comparison Operators

		#Python allows chaining of comparison operators for more complex comparisons.

x = 5
y = 10
z = 15

In [72]:
# Chained comparisons
result = x < y < z  # True because x < y and y < z
print(result)  # Output: True

True

In [73]:
result = x < y > z  # False because y is not greater than both x and z
print(result)  # Output: False

result = x == y == z  # False because x is not equal to y and y is not equal to z
print(result)  # Output: False

False
False

In [74]:
### 8. Comparisons with Strings

		#Comparison operators can also be used with strings in Python. The comparison is lexicographical (alphabetical) order.

In [75]:
str1 = "apple"
str2 = "banana"

result = str1 < str2  # True because 'a' comes before 'b' in alphabetical order
print(result)  # Output: True

result = str1 == str2  # False because 'apple' is not equal to 'banana'
print(result)  # Output: False

True
False

In [76]:
### 9. Comparison with Different Data Types

		#Python's dynamic typing allows comparison operators to work with different data types, though results can vary depending on the types involved.

# Comparing integer with float
num_int = 5
num_float = 5.0

result = num_int == num_float  # True because 5 is equal to 5.0 (different types but same value)
print(result)  # Output: True

True

In [77]:
# Comparing different types
str_val = "5"
result = num_int == str_val  # False because integer 5 is not equal to string '5'
print(result)  # Output: False

False

In [78]:
### 10. Truth Value Testing

		#In Python, objects have associated truth values. For example, any non-zero number or non-empty container (like lists, tuples, dictionaries, etc.) is considered `True` when used in a Boolean context with comparison operators.

num = 5
if num:
    print("Number is non-zero and evaluates to True")

Number is non-zero and evaluates to True

In [79]:
# Example with lists
my_list = [1, 2, 3]
if my_list:
    print("List is not empty and evaluates to True")

List is not empty and evaluates to True

In [80]:
a = [1, 2, 3]
b = [1, 2, 3]

result = a == b   # True because the contents are the same
print(result)     # Output: True

result = a is b   # False because a and b are different objects in memory
print(result)     # Output: False

result = a is not b   # True because a and b are different objects
print(result)     # Output: True

True
False
True

In [81]:
a = 5

In [83]:
a is not 5

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\amitm\AppData\Local\Temp\ipykernel_19320\1977639868.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is not 5

False

In [84]:
a = [1, 2, 3]

In [85]:
4 in a

False

In [86]:
1 not in a

False