# Logical operators:-

Logical operators in Python are used to combine multiple conditions or Boolean expressions. They allow you to create more complex conditions by combining simpler conditions together. Python supports three main logical operators: `and`, `or`, and `not`. Let's explore each of these in detail:

In [1]:
### 1. `and` Operator

#The `and` operator returns `True` if both operands are `True`, otherwise it returns `False`.

# Example with 'and' operator
x = 5	
y = 10

result = (x > 0) and (y < 20)  # True because both conditions are True
print(result)  # Output: True

result = (x > 0) and (y > 20)  # False because y > 20 is False
print(result)  # Output: False

# Example with boolean variables
is_adult = True
has_license = False

can_drive = is_adult and has_license
print(can_drive)  # Output: False because has_license is False

True
False
False

In [2]:
### 2. `or` Operator

#The `or` operator returns `True` if at least one of the operands is `True`, otherwise it returns `False`.
# Example with 'or' operator
x = 5
y = 10

result = (x > 0) or (y < 20)  # True because x > 0 is True
print(result)  # Output: True

result = (x < 0) or (y > 20)  # False because both conditions are False
print(result)  # Output: False

# Example with boolean variables
is_student = True
is_employee = False

is_workday = is_student or is_employee
print(is_workday)  # Output: True because is_student is True

True
False
True

In [3]:
### 3. `not` Operator

#The `not` operator is used to negate a Boolean expression. It returns `True` if the expression is `False`, and `False` if the expression is `True`.

# Example with 'not' operator
x = 5
y = 10

result = not (x > 0)  # False because x > 0 is True
print(result)  # Output: False
result = not (y < 20)  # False because y < 20 is True
print(result)  # Output: False

# Example with boolean variable
is_adult = False

is_minor = not is_adult
print(is_minor)  # Output: True because is_adult is False

False
False
True

In [4]:
### Operator Precedence

#Logical operators have a precedence in Python, similar to arithmetic operators. `not` has the highest precedence, followed by `and`, and then `or`. Parentheses `()` can be used to control the order of evaluation if needed.

# Example of precedence
x = 5
y = 10
z = 15

result = x > 0 and y < 20 or z == 15  # True because (x > 0 and y < 20) is True
print(result)  # Output: True

True

In [5]:
### Short-Circuit Evaluation

#Python uses short-circuit evaluation for `and` and `or` operators:
#- `and` operator: If the first operand evaluates to `False`, the second operand is not evaluated because the overall result will be `False` regardless.
#- `or` operator: If the first operand evaluates to `True`, the second operand is not evaluated because the overall result will be `True` regardless.

# Example of short-circuit evaluation
x = 5
y = 10

result = (x > 0) and (y < 20)  # Second operand (y < 20) is not evaluated
print(result)  # Output: True

True

In [7]:
x > 0 and y < 20 or z == 16

True

In [8]:
x > 0 and y > 20 or z == 15

True

In [9]:
x > 0 and y > 20 and z == 15

False

In [10]:
### 1. `is` Operator

#The `is` operator is used to test object identity. It checks if two variables point to the same object in memory.

a = [1, 2, 3]
b = a  # b is assigned to the same object as a

print(a is b)  # Output: True

c = [1, 2, 3]
print(a is c)  # Output: False, because c is a different object than a

True
False

In [11]:
### 2. `in` Operator

#The `in` operator is used to test membership within sequences such as lists, tuples, or strings. It returns `True` if a specified value is found within the sequence.

list_example = [1, 2, 3, 4, 5]

print(2 in list_example)  # Output: True
print(6 in list_example)  # Output: False

string_example = "Hello, World!"

print("Hello" in string_example)  # Output: True
print("Python" in string_example)  # Output: False

True
False
True
False

In [12]:
print(2 not in list_example)

False

In [13]:
print(6 not in list_example)

True

In [14]:
### 3. `not in` Operator

#The `not in` operator is the negation of the `in` operator. It returns `True` if a specified value is not found within the sequence.

list_example = [1, 2, 3, 4, 5]

print(6 not in list_example)  # Output: True
print(2 not in list_example)  # Output: False

string_example = "Hello, World!"

print("Python" not in string_example)  # Output: True
print("Hello" not in string_example)  # Output: False

True
False
True
False

## Python variables:-

In Python, variables are used to store data values. They are placeholders or containers that hold references to memory locations where actual data is stored. Variables play a crucial role in programming as they allow us to manipulate and work with data dynamically. Hereâ€™s a detailed overview of variables in Python:

### 1. Variable Naming Rules

- Variables in Python must follow these naming rules:
- Must start with a letter (a-z, A-Z) or underscore (`_`).
- Can contain letters, digits (0-9), and underscores (`_`).
- Case-sensitive (`age`, `Age`, and `AGE` are different variables).
- Cannot be a reserved keyword (e.g., `if`, `for`, `while`, etc.).

In [16]:
### 2. Variable Assignment

#Variables in Python are dynamically typed, meaning you don't need to declare the type of a variable explicitly.
#You can assign a value to a variable using the assignment operator (`=`).

# Example of variable assignment
age = 25
name = "Alice"
is_student = True

In [17]:
type(age)

int

In [18]:
type(name)

str

In [19]:
type(is_adult)

bool

In [20]:
1name = "amit"

SyntaxError: invalid decimal literal (3928191300.py, line 1)

In [22]:
name1 = "amit"

In [23]:
_ = 6577

In [24]:
_

6577

In [29]:
_1 = 099

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3218864438.py, line 1)

In [38]:
_2 = 0.99

In [30]:
first_name = "amit"

In [31]:
1_name ="amit"

SyntaxError: invalid decimal literal (1208425443.py, line 1)

In [32]:
_name ="amit"

In [33]:
_ = "amit"

In [34]:
_1 = "amit"

In [36]:
_1

'amit'

In [39]:
a, b, c = 30,20,10

In [40]:
c

10

In [41]:
b

20

In [43]:
last_name = "kumar"

# DataType Casting:-

In Python, data type casting (or type conversion) refers to the process of converting a value from one data type to another. Python provides several built-in functions to facilitate type casting. Here are the common ways to perform type casting in Python:

In [44]:
### 1. Implicit Type Conversion

#Python automatically performs some type conversions implicitly when it makes sense, such as adding an integer to a float, or converting between numeric types to preserve precision.

# Implicit conversion (no explicit function needed)
x = 10  # int
y = 5.5  # float

result = x + y  # float (implicit conversion)
print(result)  # Output: 15.5

15.5

In [45]:
### 2. Explicit Type Conversion

#You can explicitly convert between data types using built-in functions. Here are the commonly used functions for explicit type casting:

# **`int()`**: Converts a value to an integer. Truncates towards zero.

num_str = "10"
num_int = int(num_str)
print(num_int)  # Output: 10

10

In [46]:
a = 5.66

In [47]:
int(a)

5

In [48]:
#**`float()`**: Converts a value to a floating-point number.

num_int = 10
num_float = float(num_int)
print(num_float)  # Output: 10.0

10.0

In [49]:
#**`str()`**: Converts a value to a string.

value = 10
value_str = str(value)
print(value_str)  # Output: "10"

10

In [53]:
strr = "100"

In [51]:
type(strr)

str

In [52]:
int(strr)

100

In [54]:
float(strr)

100.0

In [55]:
lag = "py"

In [56]:
int(lag)

ValueError: invalid literal for int() with base 10: 'py'

In [57]:
#**`list()`**, **`tuple()`**, **`set()`**: Converts an iterable (like a list or tuple) to the corresponding type.

numbers = [1, 2, 3,2,3,1]
tuple_numbers = tuple(numbers)
print(tuple_numbers)  # Output: (1, 2, 3)

set_numbers = set(numbers)
print(set_numbers)  # Output: {1, 2, 3}

(1, 2, 3, 2, 3, 1)
{1, 2, 3}

In [58]:
num_int = 3
num_complex = complex(num_int)
print(num_complex)  # Output: (3+0j) (complex number with imaginary part 0)

(3+0j)

# Built-in Function

In [59]:
print(a)

5.66

In [60]:
print([6,89,0])

[6, 89, 0]

In [61]:
input()

 py

'py'

In [ ]:
nput()

In [2]:
arr =input()

 77

In [4]:
type(arr)

str

In [5]:
age = input("enter your age")

enter your age 34

In [6]:
type(age)

str

In [7]:
age = int(input("enter your age"))

enter your age 45

In [8]:
type(age)

int

In [9]:
age = int(input("enter your age"))

enter your age 45 years

ValueError: invalid literal for int() with base 10: '45 years'

In [10]:
tup = tuple(input())

 [3,4,5,9]

In [11]:
tup

('[', '3', ',', '4', ',', '5', ',', '9', ']')

In [12]:
# any()
#Description: Returns True if any element of an iterable is true. If the iterable is empty, it returns False.
list1 = [11, True, False, False, "name"]
result = any(list1)
print(result)  # Output: True

True

### Iterable

In [ ]:
str, list, tuple, set, dict

In [13]:
# ascii()

#Description: Returns a string containing a printable representation of an object. Non-ASCII characters are escaped using \x, \u or \U notation.
s = "Ã¤Ã¶Ã¼"
ascii_s = ascii(s)
print(ascii_s)  # Output: '\xe4\xf6\xfc'

'\xe4\xf6\xfc'

In [15]:
# bin()

#Description: Converts an integer number to a binary string prefixed with "0b".
num = 1060
binary_num = bin(num)
print(binary_num)  # Output: '0b1010'

0b10000100100