In [4]:
# reversed()

#Description: Returns a reverse iterator.
		 
rev_iter = reversed([1, 2, 3])

print(list(rev_iter))  # Output: [3, 2, 1]

[3, 2, 1]

In [7]:
# round()

#Description: Rounds a number to a specified precision in decimal digits.
		 
num = 3.14159
rounded_num = round(num, 0)
print(rounded_num)  # Output: 3.14

3.0

In [8]:
# sorted()

#Description: Returns a sorted list from the items in an iterable.
 
lst = [3, 1, 2]

sorted_lst = sorted(lst)
print(sorted_lst)  # Output: [1, 2, 3]

[1, 2, 3]

In [9]:
sorted([1, 2, 3], reverse=False)

[1, 2, 3]

In [13]:
# str()

#Description: Returns a string object.
		 
str_obj = str("6648")
print(str_obj)  # Output: '123'

6648

In [14]:
# sum()

#Description: Sums the items of an iterable.
		 
lst = [1, 2, 3]
sum_lst = sum(lst)
print(sum_lst)  # Output: 6

6

In [15]:
# tuple()

#Description: Returns a tuple object.
		 
tpl = tuple([1, 2, 3])
print(tpl)  # Output: (1, 2, 3)

(1, 2, 3)

In [16]:
# type()

#Description: Returns the type of an object or creates a new type object.
		 
x = 5
print(type(x))  # Output: <class 'int'>

<class 'int'>

In [17]:
# zip()

#Description: Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables.
		 
lst1 = [1, 2, 3]
lst2 = ['a', 'b', 'c']

zipped = zip(lst1, lst2)
print(list(zipped))  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]