In [1]:
# Special Character

In [2]:
# \n new line
print("Hello\nWorld")

Hello
World

In [3]:
# \t tab space
print("Name:\tAlice")

Name:	Alice

In [4]:
# \\ (Backslash)

path = "C:\\Users\\John\\Documents"
print(path)

C:\Users\John\Documents

In [5]:
# \\ (Backslash)

path = "C:/Users/John/Documents"
print(path)

C:/Users/John/Documents

In [6]:
# \' and \" (Single and Double Quotes)

# Using \' to include a single quote inside a string

message = 'He said, \'Hello!\''
print(message)

# Using \" to include a double quote inside a string
quote = "She said, \"Hi!\""
print(quote)

He said, 'Hello!'
She said, "Hi!"

In [7]:
name = "'amit'"

In [8]:
name

"'amit'"

In [10]:
# \b (Backspace):

print("Hello @\bWorld")

Hello World

In [12]:
# \r (Carriage Return)

print("Hello \r World \r python")

python

### String Formating:-
	
Old-Style String Formatting (% Formatting)
Old-style formatting uses the % operator to insert values into a string template. It's less recommended for new code due to its limitations compared to str.format() and f-strings.

In [20]:
# 1.Basic Syntax: Use % followed by a tuple of values or a single value (if only one placeholder) to substitute into the string.
name = "Alice"
lastname = "david"
age = 30
formatted_string = "My name is %s %s and I am %d years old." % (lastname, name, age)


#print(formatted_string)  # Output: 'My name is Alice and I am 30 years old.'

In [21]:
formatted_string

'My name is david Alice and I am 30 years old.'

In [25]:
#Formatting Options:
# %s for strings
# %d for integers
# %.f for floating-point numbers
# %x, %o, %e, %g for hexadecimal, octal, exponential, and general floating-point formats respectively.

number = 3.14159
formatted_number = "The value of pi is approximately %.2f" % number
print(formatted_number)  # Output: 'The value of pi is approximately 3.14'

The value of pi is approximately 3.14

In [27]:
#2. str.format() Method
#Introduced in Python 2.7, str.format() provides more flexibility and readability compared to % formatting. It allows for positional arguments, keyword arguments, and more control over formatting.

#Basic Syntax: Use {} placeholders inside the string and call .format() with arguments.
		 
name = "Bob"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(age, name)
print(formatted_string)  # Output: 'My name is Bob and I am 25 years old.'

My name is 25 and I am Bob years old.

In [30]:
#Positional and Keyword Arguments:

#Positional arguments:

formatted_string = "First: {1}, Second: {0}".format("A", "B")
formatted_string

'First: B, Second: A'

In [31]:
#Keyword arguments:

formatted_string = "Name: {name}, Age: {age}".format(name="Alice", age=30)
formatted_string

'Name: Alice, Age: 30'

In [32]:
#Formatting Options:

# {} for positional arguments
# {name} for keyword arguments
# {index:format_spec} for specifying formatting options (:format_spec is optional).

pi = 3.14159
formatted_number = "The value of pi is approximately {:.2f}".format(pi)

print(formatted_number)  # Output: 'The value of pi is approximately 3.14'

The value of pi is approximately 3.14

### Comparison and Recommendations
#Readability: F-strings offer the most readable syntax.
#Flexibility: F-strings support complex expressions and function calls directly inside {}.
#Performance: F-strings are generally faster than both % formatting and str.format().

In [33]:
# f-string

name = "Alice"
age = 30
occupation = "engineer"

# Using f-string to format the output

sentence = f"My name is {name}, I am {age} years old, and I work as an {occupation}."
print(sentence)

My name is Alice, I am 30 years old, and I work as an engineer.

In [34]:
"My name is", name, "I am", age, "years old, and I work as an ", occupation,"."

('My name is',
 'Alice',
 'I am',
 30,
 'years old, and I work as an ',
 'engineer',
 '.')

In [38]:
var = " %x, %o, %e, %g for hexadecimal, \n octal, exponential, and\n general floating-point formats respectively."

In [47]:
print(var)

 %x, %o, %e, %g for hexadecimal,
 octal, exponential, and
 general floating-point formats respectively.

In [50]:
a= "%s for strings"
b ="%d for integers"
c = "%.f for floating-point numbers"

In [51]:
a

'%s for strings'

In [52]:
b

'%d for integers'

In [53]:
c

'%.f for floating-point numbers'

In [62]:
print(a,  b,"   ",c )

%s for strings %d for integers     %.f for floating-point numbers

In [56]:
print(a)
print(b)
print(c)

%s for strings
%d for integers
%.f for floating-point numbers

In [60]:
print(a, end = " ")
print(b , end = " ")
print(c)

%s for strings   @%d for integers   @ %.f for floating-point numbers

In [63]:
sttr = "%s for strings"

In [66]:
sttr1 = """#Readability: F-strings offer the most readable syntax. #Flexibility: 
F-strings support complex expressions and function calls directly inside {}.
Performance: F-strings are generally faster than both % formatting and str.format()."""

In [67]:
sttr1

'#Readability: F-strings offer the most readable syntax. #Flexibility: \nF-strings support complex expressions and function calls directly inside {}.\nPerformance: F-strings are generally faster than both % formatting and str.format().'

In [70]:
def squre(num):
    """this square function
    used to square number"""
    return num**2

In [71]:
squre(5)

25

In [72]:
squre()

TypeError: squre() missing 1 required positional argument: 'num'

In [ ]:
int = 8
float = 8.9
bool = True/ False
tuple = ( )
list  = [ ]
set  = {}
dict = {key : value }
complex = 55 +6j

In [ ]:
+ 
-
*
/
%
//

In [73]:
5%2

1

In [74]:
5/2

2.5

In [75]:
5//2

2

In [ ]:
and
or
not

In [ ]:
in
is
is not
not in

In [ ]:
==
>
<
>=
<=
!=

In [ ]:
a = 10
1a = 10
a1 = 10
a 1 = 10
a_1 = 10
_ = 10
_1 = 10
a, b, c  = 10, 20, 30

In [76]:
a= 10

In [77]:
type(a)

int

In [79]:
b = str(a)

In [80]:
type(b)

str

In [81]:
c = "py"

In [82]:
int(c)

ValueError: invalid literal for int() with base 10: 'py'

In [84]:
l = [1,2,3,4,4]

In [85]:
str(l)

'[1, 2, 3, 4, 4]'

In [86]:
set(l)

{1, 2, 3, 4}

In [91]:
l[1] = 23

In [92]:
l

[22, 23, 3, 4, 4]

In [93]:
st = "python"

In [95]:
st[0] = "Q"

TypeError: 'str' object does not support item assignment

In [ ]:
list = [ ]

In [ ]:
list()

In [ ]:
\n
\t
\\
\b
\r

In [ ]:
%s, %d, %.f

In [ ]:
.formate()

In [ ]:
f""