In Python, a tuple is an ordered collection of elements that is immutable (unchangeable) and can contain elements of different data types. Tuples are defined by enclosing the elements in parentheses () and separating them with commas. Here are some key characteristics and features of tuples in Python:

Immutable: Once a tuple is created, you cannot modify its contents. This means you cannot add, remove, or change items in a tuple after it is created. This immutability provides data integrity and makes tuples suitable for storing constant values or sequences that should not change.

Ordered: Tuples maintain the order of elements as they are defined. This means you can access elements in a tuple by their index.

Heterogeneous: A tuple can contain elements of different data types. For example, (1, 'hello', 3.14) is a valid tuple where the first element is an integer, the second is a string, and the third is a float.

Tuple Creation:

Empty tuple: empty_tuple = ()
Single element tuple: If you have only one element, you need to include a comma after the element to differentiate it from a regular parenthesized expression. For example, single_element_tuple = (1,).
Tuple with multiple elements: my_tuple = (1, 2, 'hello', 3.14)
Accessing Elements: Elements in a tuple are accessed using square brackets [] with the index of the element. Indexing starts from 0 for the first element. Negative indexing can also be used to access elements from the end of the tuple.

Tuple Operations:

Concatenation: Tuples can be concatenated using the + operator.
Repetition: Tuples can be repeated using the * operator.
Slicing: You can slice tuples to create new tuples containing a subset of elements.
Tuple methods: Tuples support methods like count() and index() for basic operations.
Use Cases: Tuples are often used in scenarios where you want to store a fixed collection of items that shouldn't change, such as coordinates, constant values, or database records.

Here's a simple example demonstrating some tuple operations:

In [2]:
# Define a tuple
my_tuple = (1, 2, 'hello', 3.14)

# Accessing elements
print(my_tuple[0])    # Output: 1
print(my_tuple[2])    # Output: 'hello'

1
hello

In [3]:
# Tuple slicing
print(my_tuple[1:3])  # Output: (2, 'hello')

# Concatenation
another_tuple = ('world', 5)
combined_tuple = my_tuple + another_tuple
print(combined_tuple) # Output: (1, 2, 'hello', 3.14, 'world', 5)

(2, 'hello')
(1, 2, 'hello', 3.14, 'world', 5)

In [4]:
# Example 1: Creating and Accessing Tuples
# Creating tuples
tuple1 = (1, 2, 3, 4)
tuple2 = ('a', 'b', 'c', 'd')
tuple3 = (1.23, 'hello', True)

# Accessing elements
print(tuple1[0])  # Output: 1
print(tuple2[-1])  # Output: 'd'
print(tuple3[1])  # Output: 'hello'

1
d
hello

In [5]:
#Example 2: Concatenating Tuples

tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

# Concatenating tuples
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # Output: (1, 2, 3, 'a', 'b', 'c')

(1, 2, 3, 'a', 'b', 'c')

In [6]:
tuple1 + "py"

TypeError: can only concatenate tuple (not "str") to tuple

In [7]:
#Example 3: Tuple Slicing

my_tuple = (10, 20, 30, 40, 50)

# Slicing tuples
print(my_tuple[:3])    
print(my_tuple[2:])    
print(my_tuple[1:4])

(10, 20, 30)
(30, 40, 50)
(20, 30, 40)

In [8]:
#Example 4: Nesting Tuples

tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
nested_tuple = (tuple1, tuple2)

# Accessing elements in nested tuple
print(nested_tuple[0])          
print(nested_tuple[1][2])

(1, 2, 3)
c

In [9]:
nested_tuple

((1, 2, 3), ('a', 'b', 'c'))

In [12]:
nested_tuple[1][2]

'c'

In [14]:
#Example 5: Tuple Unpacking


my_tuple = ('John', 'Doe', 30, 50)

# Unpacking tuple into variables
first_name, last_name, age = my_tuple

print(first_name)    
print(last_name)     
print(age)

ValueError: too many values to unpack (expected 3)

In [15]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [16]:
# Example 6: Using Built-in Tuple Methods

my_tuple = (1, 2, 2, 3, 4, 2)

# Using count method
print(my_tuple.count(2))  # Output: 3

3

In [20]:
# Using index method
print(my_tuple.index(4))  # Output: 3

4

In [21]:
# Example 7: Immutable Nature of Tuples

my_tuple = (1, 2, 3)

# Trying to modify tuple (will raise TypeError)
my_tuple[0] = 10
# Uncommenting the above line will raise a TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [22]:
# Example 1: Database Records
# Simulating database records as tuples

employee1 = (1, 'John Doe', 'Engineering', 5000)
employee2 = (2, 'Jane Smith', 'Marketing', 6000)

# Accessing attributes of an employee
print(employee1[1])  # Output: 'John Doe'
print(employee2[3])  # Output: 6000

John Doe
6000

In [23]:
# Example 2: Coordinates or Points

# Coordinates of points
point1 = (3, 5)
point2 = (-2, 7)

# Calculating distance (hypothetical example)
distance = ((point2[0] - point1[0]) ** 2 + (point2[1] - point1[1]) ** 2) ** 0.5
print(distance)  # Output: 5.0

5.385164807134504